# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [2]:
# Import libraries
from pymongo import MongoClient
client=MongoClient()

import regex as re
import pandas as pd

In [3]:
# Import data
db=client.ufo

In [4]:
# Select data
data= db.ufo.find({'year': {'$gte': 2004 }},
                 {'latitude':1,'longitude':1})
df=pd.DataFrame(data)
df.head()

                        _id   latitude   longitude
0  61fc0f2327317bf439226693  29.883056  -97.941111
1  61fc0f2327317bf439226694  29.384210  -98.581082
2  61fc0f2327317bf439226695  53.200000   -2.916667
3  61fc0f2327317bf439226696  28.978333  -96.645833
4  61fc0f2327317bf439226697  21.418056 -157.803611

In [5]:
# Find the city
df = df.dropna()

In [7]:
import folium

In [8]:
from folium import plugins

In [9]:
data = df[['latitude','longitude']].values

In [19]:
mapa2=folium.Map([0,0],zoom_start=1.5)

In [20]:
mapa3 = mapa2.add_child(plugins.HeatMap(data, radius=15))

In [23]:
mapa3.save('tipa_con_maquina_US.html')

In [22]:
#la respuesta es Nashville