# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [1]:
from pymongo import MongoClient
import pandas as pd

### Import Data:

In [2]:
cliente = MongoClient("mongodb://localhost:27017/")
db=cliente.ufo #Database
col=db.ufo #Collection

### Select Data:

In [3]:
ufos=list(col.find({'country':'us','year':{'$gte':2004}},{'_id':0,'latitude':1,'longitude':1}))
# Show only Latitude & Longitude

### Find the City:

In [4]:
df = pd.DataFrame(ufos)
df.head(6)

    latitude   longitude
0  29.883056  -97.941111
1  28.978333  -96.645833
2  21.418056 -157.803611
3  36.595000  -82.188889
4  30.294722  -82.984167
5  35.233333  -82.734444

In [5]:
import folium
from folium import plugins

In [6]:
df.astype('int32').dtypes # Cast coordinates because they were decimals and pandas could not manage them

latitude     int32
longitude    int32
dtype: object

In [10]:
mapa = folium.Map([36.16153736194187, -86.77601094912461], zoom_start=5)

data=df[['latitude', 'longitude']].values

folium.Marker([36.16153736194187, -86.77601094912461],
              popup="<img src=img/machine.png>",
              tooltip="Don't dare to click").add_to(mapa)
mapa.add_child(plugins.HeatMap(data, radius=30))

mapa.save('heat_map.html')

In [8]:
# Hacer mapa calor en movimiento con franja de años