# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [1]:
import folium
import pandas as pd
from folium import plugins

In [2]:
# Import data
ufo=pd.read_csv('ufo.csv')

ufo.head()

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,2005,1325.486319
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,2008,6515.416577
3,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396

In [11]:
#Select data.
uf1 = ufo[ufo["year"]>=2005]

In [12]:
uf2 = uf1[ufo["country"]=="us"]

<ipython-input-12-e519122178ee>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  uf2 = uf1[ufo["country"]=="us"]

In [13]:
ufof = uf2.drop(['Unnamed: 0', 'datetime', 'city', 'state', 'country', 'shape', 'duration', 'total_time', 'comments', 'date_posted', 'year', 'distance'],axis=1)

In [14]:
ufof.head()

     latitude  longitude
5   36.595000 -82.188889
8   30.294722 -82.984167
10  35.233333 -82.734444
12  37.153611 -83.761944
13  35.823889 -80.253611

In [15]:
ufof.reset_index(inplace=True, drop=False)

In [16]:
ufof.head(3)

   index   latitude  longitude
0      5  36.595000 -82.188889
1      8  30.294722 -82.984167
2     10  35.233333 -82.734444

In [17]:
# No he sabido sacar el mapa