# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [1]:
# Import libraries
from pymongo import MongoClient
import pandas as pd

In [2]:
# Import data
#Hacerlo por terminal y no cargando la DB a los bastoS
cliente = MongoClient("mongodb://localhost:27017/")
db=cliente.ufo
col=db.ufo

In [3]:
# Select data / ver tema de que el año a lo mejor corresponde con la string!!!!!
ufos=list(col.find({'country':'us','year':{'$gte':2004}},{'_id':0,'latitude':1,'longitude':1}))

In [4]:
# Find the city
df = pd.DataFrame(ufos)
df

        latitude   longitude
0      29.883056  -97.941111
1      28.978333  -96.645833
2      21.418056 -157.803611
3      36.595000  -82.188889
4      30.294722  -82.984167
...          ...         ...
47121  34.101389  -84.519444
47122  43.613611 -116.202500
47123  38.297222 -122.284444
47124  38.901111  -77.265556
47125  35.652778  -97.477778

[47126 rows x 2 columns]

In [5]:
import folium
from folium import plugins

In [6]:
df.astype('int32').dtypes

latitude     int32
longitude    int32
dtype: object

In [28]:
mapa3=folium.Map([36.16153736194187, -86.77601094912461], zoom_start=6)

data=df[['latitude', 'longitude']].values

mapa3.add_child(plugins.HeatMap(data, radius=30))

mapa3.save('calor.html')

In [22]:
def generateBaseMap(default_location=[40.693943, -73.985880], default_zoom_start=11):
    
    base_map = folium.Map(location=default_location, 
                          control_scale=True, 
                          zoom_start=default_zoom_start)
    
    return base_map

In [14]:
#base_map = generateBaseMap() # crea mapa
#
#HM(data=df,radius=300, 
#        max_zoom=13).add_to(base_map) # pon los datos en heatmap
#
#base_map.save('images/base_heatmap.html')  # guarda
#
#base_map   # representa

NameError: name 'HM' is not defined