# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [2]:
!pip install folium

Requirement already satisfied: folium in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (0.12.1.post1)
Requirement already satisfied: jinja2>=2.9 in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from folium) (3.0.3)
Requirement already satisfied: numpy in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from folium) (1.22.1)
Requirement already satisfied: requests in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from folium) (2.27.1)
Requirement already satisfied: branca>=0.3.0 in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from folium) (0.4.2)
Requirement already satisfied: MarkupSafe>=2.0 in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from requests->folium) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from requests->folium) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from requests->folium) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /home/juana/anaconda3/envs/ironhack/lib/python3.8/site-packages (from requests->folium) (2.0.10)

In [4]:
import folium.plugins
import pandas as pd

In [5]:
ovni=pd.read_csv('ufo.csv')
ovni

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,2005,1325.486319
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,2008,6515.416577
3,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78504,80326,9/9/2013 21:00,woodstock,ga,us,sphere,20.0,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.101389,-84.519444,2013,318.719195
78505,80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500,2013,2620.021539
78506,80329,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444,2013,3126.991417
78507,80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556,2013,904.740389
78508,80331,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778,2013,953.748462

In [ ]:
# Vendido en 2014 a USA - Filtrar por country y por año

In [9]:
ovni_2 = ovni[(ovni['year']>= 2004) & (ovni['country'] == 'us')]
ovni_2.head()

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772
3,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396
5,5,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,2007,427.334113
8,9,10/10/1966 21:00,live oak,fl,us,disk,120.0,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.294722,-82.984167,2005,749.440164

In [12]:
ovnilatlon = ovni_2[['latitude', 'longitude']]
ovnilatlon

        latitude   longitude
0      29.883056  -97.941111
3      28.978333  -96.645833
4      21.418056 -157.803611
5      36.595000  -82.188889
8      30.294722  -82.984167
...          ...         ...
78504  34.101389  -84.519444
78505  43.613611 -116.202500
78506  38.297222 -122.284444
78507  38.901111  -77.265556
78508  35.652778  -97.477778

[47126 rows x 2 columns]

In [27]:
mapa = folium.Map([29.883056, -97.941111], )
mapa

In [24]:
mapa